/* Color palette */
$red:         #BD3A43;
$blue:        #54cdcd;
$darkBlue:    #36b8b8;
$lightGrey:   #F5F5F5;
$darkGrey:    #303030;
$fontMain:    'Montserrat', sans-serif;
$fontItalic:  'Amiri', serif;

/* Page container */
.login {
  background: $red;
  font-family: $fontMain; /* Alternative to Proxima Nova (used on 10up.com) */

  /* Login form */
  form {
    background: $lightGrey;
    padding: 26px 24px 26px;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.25);

    .forgetmenot label {
      font-family: $fontMain;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
  }

  /* Logo */
  h1 a {
    background: url('../img/10up-logo-full.svg') no-repeat center center;
    background-size: contain;
  }

  /* Form inputs */
  input[type="text"],
  input[type="password"] {
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 10px;
    font-family: $fontMain;
    border: 2px solid transparent;

    &:active,
    &:focus {
      border: 2px solid $blue;
    }
  }

  /* Error message */
  #login_error {
    background: $lightGrey;
    border-left: none;
    border-top: 4px solid $darkGrey;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.25);

    strong {
      color: $red;
    }

    a {
      color: $blue;
    }
  }

  /* Input labels */
  label {
    font-family: $fontItalic; /* Alternative to Freight Text Pro (used on 10up.com) */
    font-size: 1rem;
    color: #545353;
  }

  /* Info message */
  .message {
    border-left: none;
    border-top: 4px solid $blue;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.25);
  }
}

/* Form container */
#login {
  width: 400px;

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  /* Submit button */
  form .submit #wp-submit {
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    padding: .8em 2em;
    line-height: initial;
    height: auto;
    box-shadow: none;
    text-shadow: none;
    background: $blue;

    &:hover {
      background: $darkBlue;
    }
  }

  /* Login links */
  #nav {
    background: $lightGrey;
    margin: 0px;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.25);
    text-align: right;

    a {
      position: relative;
      font-family: $fontItalic;
      font-size: 1rem;
      transition-duration: 0s;

      &:hover,
      &:focus {
        color: $blue;

        &:after {
          content: "";
          width: 100%;
          height: 3px;
          background: $blue;
          position: absolute;
          bottom: 0px;
          left: 0px;
        }
      }
    }
  }
}

/* Back to link */
#backtoblog {
  display: none;
}

/* Remember me checkbox */
#rememberme {
  border: none;
  background: $blue;
  height: 20px;
  width: 20px;

  &:hover,
  &:focus {
    box-shadow: none;
    background: $darkBlue;    
  }

  &:checked {
    &:before {
      color: #fefefe;
      width: 20px;
      font-size: 24px;
      margin: -2px 0 0 -4px;      
    }
  }
}

.login form .forgetmenot label {
  font-family: $fontMain;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
}